body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: #2DCDF5;
}

.container-fluid,
html,
body {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header {
    /* align-self: ; */
    /* width: auto;
    height: auto; */
    background: #222222;
    display: flex;
    flex-direction: row;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    font-size: 20px;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    font-size: 25px;
}

.game {
    display: flex;
    flex-direction: row;
}

.gameInfo {
    justify-self: flex-end;
}

.gameContent {
    width: 100%;
}

.info_area {
    display: none;
    border: 3px solid grey;
    border-radius: 5px;
    width: auto;
    height: auto;
    background: #FFB02E;
    padding: 20px;
}

label {
    font-size: 17px;
    font-weight: bold;
    color: black;
}

#roomList,
#playerList,
.chatArea {
    border: 3px solid grey;
    border-radius: 5px;
    background-color: aliceblue;
    height: 200px;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#buttonMessage {
    display: block;
}

#roomList {
    height: 50px;
    width: 100%;
}

#playerList {
    height: 100px;
}

.message {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 200px;
    overflow-wrap: break-word;
}

.myMessage {
    background-color: blue;
    color: white;
    /* margin-left: 35%; */
    align-self: flex-end;
}

.otherMessage {
    background-color: orange;
    color: white;
}

#playerList ul li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}